.container{
    display: flex;
    flex-direction: column;
    
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / 45%);
    backdrop-filter: blur(6.5px);
    border: solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

@media screen and (min-width:0) {
    .container{
        display: flex;
        justify-content: center;
        height: 490px;
    }
}

@media screen and (min-width:650px) {
    .container{
        width: 55%;
        height: 75%;
    }
}