#title-1{
    text-align: center;
    font-weight: bold;
}

#title-2{
    text-align: center;
    font-weight: bold;
}

@media screen and (min-width:0) {
    #title-1{
        font-size: 13px;
    }

    #title-2{
        font-size: 12px;
    }
}

@media screen and (min-width:650px) {
    #title-1{
        font-size: 14px;
    }

    #title-2{
        font-size: 14px;
        margin-bottom: 100px;
    }
}