.left-side{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 95%;
    width: 43%;
    border: solid black;
    border-radius: 10px;
    background: none;
}